<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="text-sm-center col-lg-6">
        <nav class="footer-nav">
          <ul>
            <li><a href="">Creative Tim</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Licenses</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-6">
        <div class="copyright">
          <span class="">
            © {{ test | date: "2021" }}, made with
            <i class="fa fa-heart heart"></i> Polytech Nancy!
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
