<!-- Header-->
<header class="container bg-black py-4">
  <div class="row justify-content-center px-lg-4 mx-4">
    <div class="col-lg-6 col-sm-8 text-white">
      <h1 class="px-lg-5 mx-lg-3 pt-lg-3 text-center-sm display-5 fw-bolder">
        Louez une voiture<br />en quelques taps
      </h1>
    </div>
    <div class="col-lg-5 px-lg-5 mx-lg-5">
      <div class="form-group mx-sm-1 px-sm-5">
        <label for="name">Ville</label>
        <input
          type="text"
          class="form-control"
          name="ville"
          id="ville"
          required
        />
      </div>
      <div class="row form-group">
        <div class="col-sm-1"></div>
        <div class="col-6 col-sm-5 px-sm-4">
          <label for="name">Debut</label>
          <input
            type="text"
            name="debut"
            class="form-control"
            id="debut"
            required
          />
        </div>
        <div class="col-6 col-sm-5 px-sm-4">
          <label for="name">Fin</label>
          <input
            type="email"
            class="form-control"
            name="fin"
            id="fin"
            required
          />
        </div>
      </div>
      <div class="mt-3 text-center-sm">
        <button type="submit">Rechercher</button>
      </div>
    </div>
  </div>
</header>
