<div class="container mt-3">
  <div class="card">
    <div class="card-header h4 text-white bg-info">S'enregistrer</div>
    <div class="card-body">
      <form
        class=""
        novalidate
        (ngSubmit)="saveData(registerForm)"
        #registerForm="ngForm"
      >
        <div class="row">
          <div class="col-md-6 mb-4">
            <input
              type="text"
              class="form-control"
              placeholder="Nom"
              [(ngModel)]="user.nom"
              name="nom"
              required
              minlength="2"
              #nomVar="ngModel"
              [ngClass]="{
                'is-invalid': nomVar.touched && !nomVar.valid
              }"
            />
            <div class="invalid-feedback">
              <span *ngIf="nomVar.errors?.['required']">
                Entrez votre nom
              </span>
              <span *ngIf="nomVar.errors?.['minlength']">
                Minimum 2 charactères
              </span>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Prénom"
              [(ngModel)]="user.prenom"
              name="prenom"
              #prenomVar="ngModel"
              required
              maxlength="20"
              [ngClass]="{
                'is-invalid': prenomVar.touched && !prenomVar.valid
              }"
            />

            <div class="invalid-feedback">
              <span *ngIf="prenomVar.errors?.['required']">
                Entrez votre prénom
              </span>
              <span *ngIf="prenomVar.errors?.['maxlength']">
                Maxnimum 20 charactères
              </span>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-12">
            <input
              type="email"
              class="form-control"
              placeholder="E-Mail"
              [(ngModel)]="user.email"
              #emailVar="ngModel"
              name="email"
              required
              email
              [ngClass]="{
                'is-invalid': emailVar.touched && !emailVar.valid
              }"
            />
            <div class="invalid-feedback">
              <span *ngIf="emailVar.errors?.['required']">
                Entrez votre E-Mail
              </span>
              <span *ngIf="emailVar.errors?.['email']">
                L'E-Mail n'est pas valide
              </span>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-12">
            <input
              type="password"
              class="form-control"
              placeholder="Mot de passe"
              [(ngModel)]="user.password"
              #emailVar="ngModel"
              name="password"
              required
              [ngClass]="{}"
            />
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-12">
            <div class="form-check">
              <label class="form-check-label">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="sendCatalog"
                  [(ngModel)]="user.sendCatalog"
                />
                J'accepte la politique de confidentialité
                <span class="form-check-sign"></span>
              </label>
            </div>
          </div>
        </div>

        <!--
        <div class="form-row mb-3" *ngIf="user.sendCatalog">
          <div class="form-row mb-3">
            <div class="col-md-12">
              <label for="">Adresse 1</label>
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-12">
              <label for="">Adresse 2</label>
              <input type="text" class="form-control" />
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-6">
              <label for="">Ville</label>
              <input type="text" class="form-control" />
            </div>
            <div class="col-md-3">
              <label for="">Departement</label>
              <select class="form-control">
                <option value="">Selectionner un département</option>
                <option value="A">A</option>
                <option value="A">B</option>
                <option value="A">C</option>
                <option value="A">D</option>
              </select>
            </div>
            <div class="col-md-3">
              <label for="">Code postal</label>
              <input type="number" class="form-control" />
            </div>
          </div>
        </div>
        -->

        <div class="form-row text-right">
          <button
            class="btn btn-info"
            type="submit"
            [disabled]="!registerForm.valid || !user.sendCatalog"
          >
            S'enregister
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<hr />
