<div class="section section-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-3">
        <h1 class="text-white">Louez une voiture<br />en quelques taps</h1>
      </div>

      <div class="card col-lg-6 m-lg-0 m-sm-1">
        <div class="card-body">
          <form>
            <div class="form-row mb-3">
              <label>Ville</label>
              <input type="email" class="form-control" placeholder="Ville" />
            </div>

            <div class="form-row mb-3">
              <ngbd-datepicker-range-popup></ngbd-datepicker-range-popup>
            </div>

            <div class="form-row text-right">
              <button class="btn btn-info" type="submit">Rechercher</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section section-dark">
  <div class="container">
    <div class="row example-page">
      <div class="col-md-6 text-center" routerLinkActive="active">
        <a [routerLink]="['/landing']">
          <img
            src="./assets/img/examples/landing-page.JPG"
            alt="Rounded Image"
            class="img-rounded img-responsive"
            style="width: 100%"
          />
          <a
            [routerLink]="['/landing']"
            class="btn btn-outline-neutral btn-round"
            >Landing Page</a
          >
        </a>
      </div>

      <div class="col-md-6 text-center" routerLinkActive="active">
        <a>
          <img
            src="./assets/img/examples/profile-page.JPG"
            alt="Rounded Image"
            class="img-rounded img-responsive"
            style="width: 100%"
          />
          <a class="btn btn-outline-neutral btn-round">Profile Page</a>
        </a>
      </div>
    </div>
  </div>
</div>
